# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/

# OS
.DS_Store
Thumbs.db

# Local secrets (do NOT commit)
.env
secrets.json
